<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
    <macros>
        <replica>{{ ansible_host }}</replica>
        <cluster>{{ ch_cluster }}</cluster>
        <shard>{{ ch_shard }}</shard>
        <distributed_clusters>{{ clickhouse_distributed_cluster }}</distributed_clusters>
    </macros>
</yandex>
